@import '@/assets/_common.scss';

.wrapper {
  @include no-select;

  background: #f3f3f3;
  //background: #FEEAED;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    .logo {
      width: 132px;
      height: 132px;
      margin-bottom: 12px;

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .spin {
      display: flex;
      justify-content: center;
      margin-top: 36px;
    }
  }
}
