@import '@/assets/_common.scss';

.wrapper {
  .form {
    margin-bottom: 12px;

    .inputLayout {
      display: flex;
      gap: 12px;

      .input {
        flex: 3;
      }

      .button {
        flex: 1;
        display: flex;
        gap: 12px;

        button {
          flex: 1;
        }
      }
    }

    .extraLayout {
      @include no-select;

      height: 30px;
      line-height: 30px;
      font-size: 14px;
    }
  }

  .taskWrapper {
    height: calc(100vh - 60px);
  }

  .taskWrapperExtra {
    height: calc(100vh - 90px);
  }
}
